<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema JBST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comercial
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/consultar-chamado">Chamados</a></li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empresas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/consultar-empresa">Pessoa Juridica</a></li>
            <li><a class="dropdown-item" href="/consultar-pessoa-fisica">Pessoa Fisica</a></li>

          </ul>
        </li>
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Secretaria          
                    </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/consultar-turmas">Turmas</a></li>
            <li><a class="dropdown-item" href="/consultar-todas-matriculas"> Matriculas</a></li>
            <li><a class="dropdown-item" href="/consultar-instrutores"> Instrutor</a></li>
            <li><a class="dropdown-item" href="/consultar-cursos">Cursos</a></li>

            <li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Unidades 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/consultar-unidade-de-treinamento">Unidade de Treinamento</a></li>
            <li><a class="dropdown-item" href="/consultar-endereco">Endereço</a></li>

            <li>
          </ul>
        </li>


        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/consultar-funcionario">Funcionário</a></li>
        </ul>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Financeiro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="consultar-pedido-de-compras">Pedidos de Compras</a></li>
            <li><a href="consultar-faturamentopj" class="dropdown-item btn btn-sm btn-primary">Faturamento PJ</a>
              <li><a class="dropdown-item" href="consultar-faturamentopf">Faturamento Pf</a></li>


          </ul>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Ex: Turmas" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>